@import url('https://fonts.googleapis.com/css2?family=Hubballi:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hubballi, 'Courier New', Courier, monospace;
    --bs-body-bg: #000000;
}
:root{
    --para-color: rgba(176, 193, 177, 0.762);
    --bg-col1: #000000;
    --h2-color: yellowgreen;
}   

/* for scrollbar */

html {
    scrollbar-width: none;

}
body {
    overflow-x: hidden;
}


.colorPara {
    color: var(--para-color) !important;
} 

h2 {
    color: var(--h2-color);
    font-style: italic;
    font-weight: 800;
}
p {
    color: var(--para-color);
}
/* welcome style */

.flex-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.icon-3d {
    padding: 10px;
    animation: icon3d 200ms 10;
    color: #fff;
}

.icon-3d:hover {
    animation: icon3d 200ms infinite;
}

@keyframes icon3d {
    0% {
        text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
    }
    25% {
        text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
    }
    50% {
        text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
    }
    75% {
        text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
    }
    100% {
        text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
    }
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
    position: absolute;
    right: 10px;
    padding: 25px;
    border: 1px;
}

#navbar a {
    z-index: 2;
    cursor: pointer;
}

#menu {
    position: absolute;
    right: 0px;
    width: 60px;
    z-index: 2;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    padding: 10px;
}

span {
    color: #2a66dd;
    font-size: 30px;
}

#showLater {
    visibility: hidden;
}

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}


#welcome-section {
    padding: 10px;
    width: 100vw;
    height: 40vh;
    background: #000000;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
     align-items: center;
    max-width: 100%;
    position: relative;
    left: 20vw;
}

.downloadCV button{
    letter-spacing: 4px;
    font-size: 15px;
    background: transparent;
    color: pink;
    border: 0;
    cursor: pointer;
}
.downloadCV {
    z-index: 1;
}


h2 {
    text-align: center;
    font-size: 30px;
}

img {
    width: 100%;
    height: auto;
}

#viewWork {
    list-style: none;
    position: absolute;
    bottom: 0px;
    background: teal;
}

#profilePic {
    width: 350px;
    height: 350px;
    border-radius: 20%;
    background-color: #636b71;
    z-index: 1;
    position: relative;
    top: 30vh;
    left: 30vh;
}

#profileImg {
    border-radius: 20%;
    border:2px solid #2196f3;
    transition: 0.5s;
}

#profileImg:hover {
    rotate: -10deg;
    box-shadow: 4px 4px 8px 2px  rgb(87, 33, 122);
}


/* projects section */

 #projects {
    color: white;
    padding: 100px 20px 0px 20px;
    background: var(--bg-col1);
    max-width: 100%;
    min-height: 70vh;
}

#projects h2 {
    padding-bottom: 50px;
}


/* connect section */

#arrowDiv {
    display: flex;
}

#goToTop {
    align-items: center;
    justify-content: center;
    z-index: 2;
     width: 42px;
    height: 42px;
    position: fixed;
    bottom: 5px;
    left: 48vw;

     background-color: transparent;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease;
    border: 2px solid yellow;
    
}

#footer {
    position: relative;
    top: 10px;
}
#goToTop::after {
    content: '';
    width: 20px;
    background-color: #2196f3;
}

#goToTop:hover {
    transform: rotate(360deg) translateY(-8px);
}

.coffee {
    color: #c4c5c7;
    font-style: italic;
}

#welcomeHeader {
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: 0.15em;
    color: yellowgreen;
}

#profession {
    min-width: 10px;
    font-size: 30px;
    color: rgb(145, 43, 139);
    border-radius: 5px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.hideSecondPage {
    display: none;
}


/* techs familiar section */

#techs {
    background-color: var(--bg-col1);
    padding: 140px 20px;
    min-height: 100vh;
    max-width: 100%;
}


#techCardContainer {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 200px 200px;
    justify-content: space-around;
    grid-row-gap: 35px;
    text-align: center;
}

.techCard img {
    padding: 29px;
}


/* form styles */

#formContainer {
    max-width: 100%;
    height: 105vh;
    background-color: var(--bg-col1);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

#contactTitle {
    margin-top: 50px;
    margin-bottom: 50px;
}

.myForm {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.myForm input {
    height: 30px;
    width: 300px;
}

.myForm input,
.myForm textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 3px rgb(50, 49, 109) solid;
    color: aliceblue;
}

#submitBtn {
    background-color: transparent;
    color: aliceblue;
    border: 1px solid rgb(102, 85, 85);
    height: 40px;
    transition: all 0.5s ease;
}

#submitBtn:hover {
    background-color: rgb(38, 85, 16);
}


#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 0 40px;
}


@media (min-width: 768px) {
#menu {
    visibility: hidden;
}

    #navbar {
        padding-right: 50px;
        justify-content: flex-end;
        column-gap: 50px;
        font-size: 21px;
        visibility: visible;
        background: transparent;
    }
    #navbar a {
        writing-mode: vertical-rl;
        text-orientation: landscape;
    }
    #navbar {
        padding-right: 60px;
        padding-top: 60px;
    }
    /* tech section */
    .projectCard img {
        width: 100%;
        height: 400px;
    }
    .projectCard {
        width: 70% !important;
    }
    #projectCardContainer {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 80px;
        justify-items: center;
    }
    
    .carousel img {
        width: 800px;
        height: 600px;
    }
    .carousel  {
        width: 50vw ;
        height: 65vh;
        margin: auto;
        padding: 10px;
    }

    #projects {
        height: 100vh;
        width: 50vw;
    }

    #aboutMe {
        margin: 150px 0;
        width: 50vw;
    }

    /* #formContainer {
        position: relative;
        left: 20vw;
    } */

    #techCardContainer {
        grid-template-columns: 120px 120px;
        grid-template-rows: 100px 100px;
        justify-content: space-evenly;
        grid-row-gap: 35px;
        text-align: center;
    }

    #formContainerParent, #aboutMeParent, #projectsParent, #techsParent {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 200px;
        
        
    }

    #projectsSvg {
        position: relative;
        top: 130px;  
    }
   
    #formSvg {
        position: relative;
        right: 140px;
        bottom: 40px;
    }

    #aboutSvg {
        position: relative;
        
    }


}


@media (max-width: 768px) { 

    #profilePic {
        width: 200px;
        height: 200px;
        position: relative;
        left: 100px;
        top: 150px;
    }

    #welcome-section {
        top: 200px;
        left: 10px;
        align-self: center;
    }

    #techs {
        margin-top: 95px;
    }
    #projectsSvg, #formSvg, #aboutSvg, #techSvg {
        display: none;
    }

    

}

@media (min-width: 768px) and (max-width: 1168px) { 

    #profilePic {
        width: 200px;
        height: 200px;
    }

    #welcome-section {
        top: 300px;
    }

    #techs {
        margin-top: 160px;
    }

    #projectsParent {
        column-gap: 20px;
    }

    #projects { 
        margin-right: 100px;
    }

    #formContainerParent {
        column-gap: 10px;
    }
    #formContainer {
        margin-right: 100px;
    }
}
